@import './colors.css';

/* Pixel Font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

/* font de mario 64 */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&family=Rubik+Doodle+Shadow&display=swap');

.container-text-primary {
    box-shadow: var(--box-shador-primary);
    -webkit-box-shadow: var(--box-shador-primary);
    -moz-box-shadow: var(--box-shador-primary);
    background-color: var(--color-secondary);
}

.container-text-primary h1 {
    font-family: 'Rubik Doodle Shadow', sans-serif;
}

.input-search {
    box-shadow: var(--box-shador-primary);
    -webkit-box-shadow: var(--box-shador-primary);
    -moz-box-shadow: var(--box-shador-primary);
}