@import './colors.css';

.input-search {
    border: 2px solid var(--border-color-normal-input-search);
}

.input-search:focus {
    box-shadow: -1px -1px 15px 1px rgba(92, 131, 116, 0.42);
    -webkit-box-shadow: -1px -1px 15px 1px rgba(92, 131, 116, 0.42);
    -moz-box-shadow: -1px -1px 15px 1px rgba(92, 131, 116, 0.42);
    border: 2px solid var(--color-secondary);
    width: 100%;
    transition: all .4s ease-in;
}


.nav__li:hover>a {
    border-bottom: 1px solid var(--color-text);
}

.nav__li a {
    font-size: 1em;
}


.header {
    background: rgba(255, 255, 255, 0.056);
    backdrop-filter: blur(10px);
    position: fixed;
    transition: all .5s linear;
}


.toggle-header {
    transform: translateY(-120px);
}