@import "./colors.css";


.sidebar {
    width: 60px;
    animation: moveSideBarClose .3s linear;
}

.toggle-sidebar {
    animation: moveSideBar .3s;
    width: 400px;
}

.btn-sidebar {
    transition: transform .3s linear;
}

.toogle-btn-sidebar {
    transform: rotate(-180deg);
}


.nav__link {
    color: var(--color-primary);
}

.nav__link:hover {
    color: var(--color-background);
}

@keyframes moveSideBar {

    0%,
    2% {
        width: 60px;
    }

    4%,
    6% {
        width: 80px;
    }

    8%,
    12% {
        width: 100px;
    }

    14%,
    18% {
        width: 120px;
    }

    20%,
    24% {
        width: 140px;
    }

    26%,
    30% {
        width: 160px;
    }

    32%,
    36% {
        width: 180px;
    }

    38%,
    42% {
        width: 200px;
    }

    44%,
    48% {
        width: 240px;
    }

    50%,
    54% {
        width: 280px;
    }

    56%,
    60% {
        width: 320px;
    }

    62%,
    66% {
        width: 360px;
    }

    68%,
    72% {
        width: 380px;
    }

    74%,
    78% {
        width: 390px;
    }

    80%,
    84% {
        width: 395px;
    }

    86%,
    90% {
        width: 397px;
    }

    92%,
    94% {
        width: 398px;
    }

    96%,
    98%,
    100% {
        width: 400px;
    }
}

@keyframes moveSideBarClose {

    0%,
    2% {
        width: 400px;
    }

    4%,
    6% {
        width: 398px;
    }

    8%,
    12% {
        width: 397px;
    }

    14%,
    18% {
        width: 395px;
    }

    20%,
    24% {
        width: 393px;
    }

    26%,
    30% {
        width: 382px;
    }

    32%,
    36% {
        width: 370px;
    }

    38%,
    42% {
        width: 360px;
    }

    44%,
    48% {
        width: 340px;
    }

    50%,
    54% {
        width: 320px;
    }

    56%,
    60% {
        width: 300px;
    }

    62%,
    66% {
        width: 280px;
    }

    68%,
    72% {
        width: 260px;
    }

    74%,
    78% {
        width: 240px;
    }

    80%,
    84% {
        width: 220px;
    }

    86%,
    90% {
        width: 200px;
    }

    92%,
    94% {
        width: 160px;
    }

    96%,
    98%,
    100% {
        width: 60px;
    }
}