@import './colors.css';



.post-primary,
.aside-primary {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.aside-links {
    background-color: rgba(255, 255, 255, 0.045);
}