@import './colors.css';

.container-img-banner {
    transition: transform .2s ease-in-out;
}

.container-img-banner:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shador-primary);
    -webkit-box-shadow: var(--box-shador-primary);
    -moz-box-shadow: var(--box-shador-primary);

}

.img-banner {
    box-shadow: var(--box-shador-primary);
    -webkit-box-shadow: var(--box-shador-primary);
    -moz-box-shadow: var(--box-shador-primary);
}