@import './normalize_color.css';

@import "./colors.css";

@import './nav.css';

@import 'header.css';

@import 'section_welcome.css';

.arrow {
    width: max-content;
    height: max-content;
    /* Cambia el color de la flecha aquí */
    position: relative;
    animation: moverFlecha 2s infinite linear;
    /* Animación de movimiento */
}

.arrow i {
    font-size: 3em;
    color: var(--color-secondary);
}

/* Definición de la animación */
@keyframes moverFlecha {
    0% {
        transform: translateX(0) rotate(90deg);
    }

    50% {
        transform: translateX(20px) rotate(90deg);
        /* Altura máxima de la animación */
    }

    100% {
        transform: translateX(0) rotate(90deg);
    }
}

@media screen and (max-width:768px) {

    .arrow {
        animation: moverFlechaResponsive 2s infinite linear;
    }

    @keyframes moverFlechaResponsive {
        0% {
            transform: translateY(0) rotate(180deg);
        }

        50% {
            transform: translateY(20px) rotate(180deg);
            /* Altura máxima de la animación */
        }

        100% {
            transform: translateY(0) rotate(180deg);
        }
    }
}